<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>UTImportedTypeDeclarations</key>
<array>
	<dict>
		<key>UTTypeIdentifier</key>
		<string>org.oasis-open.xliff</string>
		<key>UTTypeDescription</key>
		<string>XLIFF Document</string>
		<key>UTTypeConformsTo</key>
		<array>
			<string>public.xml</string>
		</array>
		<key>UTTypeTagSpecification</key>
		<dict>
			<key>public.filename-extension</key>
			<array>
				<string>xlf</string>
				<string>xliff</string>
			</array>
			<key>public.mime-type</key>
			<array>
				<string>application/xliff+xml</string>
			</array>
		</dict>
	</dict>
</array>
<key>UTExportedTypeDeclarations</key>
<array>
	<dict>
		<key>UTTypeIdentifier</key>
		<string>com.nyaaaan.XLFQL.mxliff</string>
		<key>UTTypeDescription</key>
		<string>Phrase TMS XLIFF Document</string>
		<key>UTTypeConformsTo</key>
		<array>
			<string>org.oasis-open.xliff</string>
		</array>
		<key>UTTypeTagSpecification</key>
		<dict>
			<key>public.filename-extension</key>
			<array>
				<string>mxliff</string>
			</array>
			<key>public.mime-type</key>
			<array>
				<string>application/x-mxliff+xml</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>UTTypeIdentifier</key>
		<string>com.nyaaaan.XLFQL.sdlxliff</string>
		<key>UTTypeDescription</key>
		<string>SDL Trados Studio XLIFF Document</string>
		<key>UTTypeConformsTo</key>
		<array>
			<string>org.oasis-open.xliff</string>
		</array>
		<key>UTTypeTagSpecification</key>
		<dict>
			<key>public.filename-extension</key>
			<array>
				<string>sdlxliff</string>
			</array>
			<key>public.mime-type</key>
			<array>
				<string>application/x-sdlxliff+xml</string>
			</array>
		</dict>
	</dict>
</array>
</dict>
</plist>
